<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>
<body>
     <header>
        <div><img src="/images/logo-mercado-liebre.svg" alt="" width="420"></div>
        <div>Lugar para poner la barra de busqueda</div>
        <h3>Comprá en Cuotas y sin Tarjeta de Credito</h3>
        <nav>
            <ul>
            <li><a href="/ofertas">Ofertas</a></li>
            <li><a href="/tiendasOficiales">Tiendas Oficiales</a></li>
            <li><a href="/vender">Vender</a></li>
            <li><a href="/ayuda">Ayuda</a></li>
        </ul>
        <ul>
            <li><a href="/creaTuCuenta">Creá tu Cuenta</a></li>
            <li><a href="/ingresa">Ingresá</a></li>
            <li><a href="/misCompras">Mis Compras</a></li>
        </ul>
    </nav>
   
     </header>
     <main>
      <div><img src="/images/img-home-banner.jpg" alt="" width="425"></div>
        <section>
            <h2>Basado en tu última visita</h2>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="" width="420">
                <div>
                    <p>$6770</p>
                    <span>40%OFF</span>
                    <h4>Cafetera Moulinex</h4>
                </div>
            </article>
           <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="" width="420">
                <div>
                <p>$230.000</p>
                <span>20%OFF</span>
                <h4>MacBook Pro 2019</h4>
                </div>
           </article>
           <article>
            <img src="/images/img-samsung-galaxy-s10.jpg" alt="" width="420">
            <div>
                <p>$70.500</p>
                <span>10%OFF</span>
                <h4>Samsung Galaxy S10</h4>
            </div>
        </article>
        <article>
            <img src="/images/img-tv-samsung-smart.jpg" alt="" width="420">
            <div>
                <p>$23.200</p>
                <span>5%OFF</span>
                <h4>SmartTv Samsung 43"</h4>
            </div>
        </article>
     </main>
     <footer>
        <section>
            <h3>Paga con Tarjeta o en Efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <h3> Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </section>   
        <section>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿Notegusta?¡Devolvelo!En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>       
        
        </footer>
     
</body>
</html>